
/**/*.tfstate*
/**/.terraform

../modules/key/client_key*
# Local .terraform directories
**/.terraform/*
.terraform/*
*.hcl
*.lock*
../.terraform/*
terraform.*
*.tfvars*

# .tfstate files
*.tfstate
/**/*.tfstate*
*.tfstate.*